ngx-intl-tel-input {
  display: flex;
  flex: 1;
}

.iti {
  width: 100%;
  display: flex;
  flex: 1;
  input {
    height: 5.6rem;
    width: 100%;
    font-size: 1.6rem;
    padding-left: 8rem;
    border: 1px solid $color-grey-3;
    background-color: #fff;
    box-shadow: 0 1.2rem 2.4rem 0 $color-grey-3;
  }

  .iti__country-list {
    max-height: 18rem;
    width: calc(100dvw - 7rem);

    .iti__country {
      font-size: 1.6rem;
    }

    .iti__divider {
      border-bottom: 1px solid $color-grey-3;
    }
  }

  input#country-search-box {
    height: 5.6rem;
    font-size: 1.6rem;
    border: 1px solid $color-grey-3;
    padding-left: 1.6rem !important;

    &:focus,
    &:focus-visible,
    &:active {
      outline-color: $color-orange;
    }
  }
}

.iti__flag-container .dropdown-menu.country-dropdown {
  border: 1px solid $color-grey-3;
  background-color: $color-grey-3;
  border-radius: 1rem 1rem 0.8rem 0.8rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
  background-color: $color-grey-3;
  border-radius: 0.8rem;
}
