// COLORS
$color-sky-blue: #a6c5cd;
$color-sky-blue-light: #dbe8eb;

$color-yellow: #ffe588;
$color-orange: #ff9800;
$color-blue: #839eff;
$color-red: #ff83a1;
$color-green: #98f6a7;

$color-grey-1: #626e7b;
$color-grey-2: #b6bcc3;
$color-grey-3: #d9dee4;
$color-grey-4: #f1f3f6;

$color-white: #fff;
$color-dark: #1b2837;
$color-deep-dark: #060f19;

// FONT
$default-font-size: 1.6rem;
$font-path: "assets/fonts";
$sf-bold: "SFProDisplay-Bold";
$sf-regular: "SFProDisplay-Regular";
$sf-medium: "SFProDisplay-Medium";

// ICONS
$icons-font-family: "frvl" !default;

$icon-plane-filled: "\e900";
$icon-boarding-cards: "\e901";
$icon-adult: "\e902";
$icon-economy: "\e903";
$icon-round-trip: "\e904";
$icon-child: "\e905";
$icon-close: "\e906";
$icon-credit-card: "\e907";
$icon-email: "\e908";
$icon-explore: "\e909";
$icon-logout: "\e90a";
$icon-notifications: "\e90b";
$icon-support: "\e90c";
$icon-arrow-right: "\e90d";
$icon-edit: "\e90e";
$icon-arrow-left: "\e90f";
$icon-search: "\e910";
$icon-plane: "\e911";
$icon-profile: "\e912";
$icon-saved-destinations: "\e913";
$icon-settings: "\e914";
$icon-infant: "\e915";
$icon-plus: "\e916";
$icon-minus: "\e917";
$icon-hand-luggage: "\e918";
$icon-luggage: "\e919";
$icon-adult-filled: "\e91a";
$icon-child-filled: "\e91b";
$icon-hand-luggage-filled: "\e91c";
$icon-infant-filled: "\e91d";
$icon-luggage-filled: "\e91e";
$icon-filter: "\e91f";
$icon-firstclass: "\e920";
$icon-business: "\e921";
$icon-economy-premium: "\e922";
$icon-economy-class: "\e923";
$icon-calendar: "\e924";
$icon-location--filled: "\e925";
$icon-clock--filled: "\e926";
$icon-calendar--filled: "\e927";
