<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Classic layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<app-mobile-layout>
  <app-header></app-header>

  <app-langauge></app-langauge>
  <app-gdpr
    *ngIf="showGDPR"
    (acceptGDPR)="acceptGDPR()"
    class="show"
  ></app-gdpr>
  <app-loader *ngIf="toggleLoader" class="loading"></app-loader>
</app-mobile-layout>
<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Desktop layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<desktop-layout *ngIf="layout === 'desktop'"></desktop-layout>
<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Admin layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<admin-layout *ngIf="layout === 'admin'"></admin-layout>
