@import "../../../../assets/scss/abstracts/mixins";
:host {
  @include respond(desktop) {
    // position: absolute;
    // top: 50%;
    // height: 3.2rem;
  }

  @include respond(phone) {
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 0;
    width: 100%;
    transform: translate3d(-200%, 0, 0);
    transition: 0.8s 10ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &.open {
      transform: translate3d(0, 0, 0);
    }

    &.on-top {
      z-index: 1000;
    }
  }
}
