<router-outlet></router-outlet>
<ng-content></ng-content>

<app-sidebar [class.open]="toggleMenu"></app-sidebar>

<app-select-departure
  [ngClass]="{
    open: toggleDeparture,
    closed: !toggleDeparture,
    onTop: toggleFilter
  }"
></app-select-departure>

<app-select-destination
  [ngClass]="{
    open: toggleDestination,
    closed: !toggleDestination,
    onTop: toggleFilter
  }"
></app-select-destination>

<app-select-persons
  [ngClass]="{
    open: toggleSelectPersons,
    closed: !toggleSelectPersons,
    onTop: toggleFilter
  }"
></app-select-persons>
<app-select-date
  [ngClass]="{
    open: toggleSelectDate,
    closed: !toggleSelectDate,
    onTop: toggleFilter
  }"
></app-select-date>
<app-search-flights
  [ngClass]="{
  open: toggleSearchFlight,
  closed: !toggleSearchFlight || toggleFilter,
  
}"
></app-search-flights>
<!-- <app-footer></app-footer> -->
