<ng-content></ng-content>
<div class="gdpr__container">
  <div class="gdpr__card">
    <h2 class="title" i18n>Inainte de a continua pe Fravel...</h2>
    <p class="content" i18n>
      Prin selectarea opțiunii "Acceptă toate", vă exprimați acordul pentru
      stocarea cookie-urilor pe dispozitivul dumneavoastră. Acest lucru ne ajută
      să îmbunătățim experiența de navigare pe site, să analizăm modul în care
      este utilizat și să eficientizăm strategiile noastre de marketing.
    </p>
    <div class="actions">
      <a class="actions--accept" (click)="acceptAll()" i18n>Accept toate</a>
      <a class="actions--more" i18n>Aflați mai multe</a>
    </div>
  </div>
</div>
