<nav class="navigation__nav">
  <ul class="navigation__list">
    <li class="navigation__item">
      <i class="icon-profile"></i>
      Profile
    </li>
    <li class="navigation__item">
        <i class="icon-credit-card" alt="Profile"></i>
        My cards
    </li>
    <li class="navigation__item">
        <i class="icon-support" alt="Profile"></i>
        Help & Support
    </li>
    <li class="navigation__item">
        <i class="icon-email" alt="Profile"></i>
        Inbox
    </li>
    <li class="navigation__item">
        <i class="icon-notifications" alt="Profile"></i>
        Notifications
    </li>
    <li class="navigation__item">
        <i class="icon-settings" alt="Profile"></i>
        Settings
    </li>
    <li class="navigation__item">
        <i class="icon-boarding-cards" alt="Profile"></i>
        Boarding cards
    </li>
    <li class="navigation__item">
        <i class="icon-plane" alt="Profile"></i>
        Travel history
    </li>
    <li class="navigation__item">
        <i class="icon-saved-destinations" alt="Profile"></i>
        Saved destinations
    </li>
    <li class="navigation__item">
        <i class="icon-explore" alt="Profile"></i>
        Explore
    </li>
    <li class="navigation__item">
        <i class="icon-logout" alt="Profile"></i>
        Logout
    </li>
    <li class="navigation__item" style="display: none">
        <i class="icon-logout" alt="Profile"></i>
        support&#64;fravel.ro
    </li>
    <li class="navigation__item" style="display: none">
        <i class="icon-logout" alt="Profile"></i>
        0724134744
    </li>
  </ul>
</nav>
